/* Add a black background color to the top navigation */
.topnav {
  background-color: #FFA351;
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: right;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

#request-btn{
  background-color: #FFA351;
  color:#fff;
  border: none;
  font-size: medium;
  width: 10%;
  height: 30px;
}

.request-btns{
  padding: 2px;
}

.container-pst{
  justify-content:space-evenly;
  display: flex;
  margin-left: 20%;
  margin-top: 3%;
  width: 60%;
}
.container-pst > img{
  width: 27%;
  height: 250px;
}


.maininfo{
  display: flex;
  width: 100%;
  margin-top: 35px;
}

.profile-img{
  border-radius: 50%;
  height: 200px;
  width: 25%;
}

.bio{
  width:65%;
}

.info{
  width: 85%;
  margin-left: 13%;
}

.posts{
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.request-name{
  width:80%
}

.editpf{
  width: 10%;
  height: 50px;
  background-color: #FFA351;
  color:#fff;
  border: none;
  font-size: medium;
  margin-right: 20%;
  margin-top: 60px;
}

.maintxt{
  margin-left: 2%;
}

.side-btn{
    margin-right: 10%;
}

#home{
  float:left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 21px;
  margin-left: 10%;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}

.main-text{
    color:#FFA351;
    width:35%;
    margin-top: 100px;
    margin-left: 10%;
}

.heading{
    font-size: 300%;
    color:#FFA351;
}

.subheading{
    font-size: 150%;
    font-weight:normal ;
}

.head{
    display: flex;
}

.logo{
  color:#FFA351;
  margin-top: 100px;
  margin-left: 20%;
  font-size: 2000%;
}

.join-btn{
    background-color: #FFA351;
    color: white;
    font-size: 30px;
    width: 20%;
    height:60%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
}

@media only screen and (max-width: 770px) {
    .heading{
        font-size: 200%;
    }
    .join-btn{
        font-size: 27px;
    }
}

@media only screen and (max-width:590px){
    .head{
        display: block;
        justify-content: center;
    }
    .main-text{
        width: 80%;
        text-align: center;
    }
    .logo{
        margin-top: 0%;
        margin-left: 30%;
    }
    .join-btn{
        font-size: 22px;
        width: 40%;
        margin-left: 30%;
    }
}

.logincontent{
  display: flex;
}

.login-box {
  position: absolute;
  top: 45%;
  left: 30%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background:#FFA351;
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}

.login-txt{
  position: absolute;
  top:25%;
  left:50%;
}

.subtxt{
  color:#FFA351;
  margin-top: 10%;
}

.login-box h2 {
  margin: 0 0 30px;
  padding: 0;
  color: #fff;
  text-align: center;
}

.login-box .user-box {
  position: relative;
}

.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top:0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}

.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #fff;
  font-size: 12px;
}

.login-box form button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #FFA351;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}

.login-box button:hover {
  background: #FFA351;
  color: #fff;
  border-radius: 5px;
}

.login-box button span {
  position: absolute;
  display: block;
}

.login-box button span:nth-child(1) {
  top: 0;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, #fff);
  animation: btn-anim1 1s linear infinite;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}

.login-box button span:nth-child(2) {
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg, transparent, #fff);
  animation: btn-anim2 1s linear infinite;
  animation-delay: .25s
}

@keyframes btn-anim2 {
  0% {
    top: -100%;
  }
  50%,100% {
    top: 100%;
  }
}

.login-box button span:nth-child(3) {
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, transparent, #fff);
  animation: btn-anim3 1s linear infinite;
  animation-delay: .5s
}

@keyframes btn-anim3 {
  0% {
    right: -100%;
  }
  50%,100% {
    right: 100%;
  }
}

.login-box button span:nth-child(4) {
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg, transparent, #fff);
  animation: btn-anim4 1s linear infinite;
  animation-delay: .75s
}

@keyframes btn-anim4 {
  0% {
    bottom: -100%;
  }
  50%,100% {
    bottom: 100%;
  }
}

@media only screen and (max-width: 850px) {
  .login-txt{
    display: none;
  }
  .login-box{
    position: absolute;
    top: 45%;
    left: 50%;
  }
}

@media only screen and (max-width:550px){
  .login-box{
    width:300px
  }
  .maininfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  .maintxt{
    margin-right: 10%;
  }
  .bio{
    margin-left: 17%;
  }
  .profile-img{
    width: 45%;
    margin-right: 7%;
  }
  .editpf{
    width: 25%;
    margin-left: 39%;
    margin-top: 0;
  }

  .container-pst{
    margin-left: 5%;
    width: 90%;
  }
}

.input-pst{
  display: flex;
  border: 1px solid black;
  margin-top: 3%;
  width: 41%;
  margin-left: 28%;
  justify-content: space-between;
}

.input-pst > input{
  border: none;
}

.img-input{
  display: none;
}

.submit{
  display: none;
}

.post{
  display: flex;
  border:1px solid black;
  margin-top:3%;
  width:41%;
  margin-left: 28%;
  align-items: center;
}

.update-in{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.maintxt-upd{
  text-align: center;
}

.request-box{
  display: flex;
  align-items: center;
}

#request-btn{
  font-size: small;
  width:80%;
}

.update-sb{
  width: 100%;
  background-color: #FFA351;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.update-div{
  border-radius: 5px;
  padding: 20px;
}


.content{
  margin-left: 2%;
  width: 85%;
}

.content >h1  {
  font-weight: normal;
}

.content >h3  {
  font-weight: normal;
}


.post-img{
  width: 100%;
}

.like{
  margin:auto;
  display: flex;
  width: 10%;
  align-items: center;
  justify-content: space-between;
}

.text-comment{
  color:#FFA351;
}

.comment-input{
  width:100%;
}

